:root{
	--color-principalGris: #76777A;
	--color-principalNaranja: #F28E2A;
	--color-segundarioGrisOscuro: #23282E;
	--color-segundarioGrisClaro1: #A6A6A6;
	--color-segundarioGrisClaro2: #C4C4C5;
	--color-segundarioNaranjaClaro: #F8A556; 
}

body{
    margin: 0;
    padding: 0;
    font-family: ubuntu, sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] { -moz-appearance:textfield; }

/* estilos generales del menu encabezado y pie de pagina  */

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-segundarioGrisOscuro);
    height: 80px;
    width: 100% !important;
    table-layout: fixed;  
}
.menu img {
   height: 50px;
   width: 13rem;
   margin: 0 12px;
}

header ul {
    display: flex;
    position: sticky;
    top: 0;
}

header ul li {
    margin: 0 20px;
    list-style-type: none;
}

header ul li a {
    color: white ;
    background: transparent;
    position: relative;
    text-decoration: none;
    letter-spacing: 0.5px;
    padding: 0 10px;
    font-size: 20px;
}

header .menu ul li ul{
    display: none;
    position: absolute;
    min-width: 140px;
    
}
header .menu ul li:hover > ul{
    display: block;
}

.menu .underline {
    display: inline-block;
    position: relative;
}

.menu ul li .underline:hover {
    color: #f28e2a !important;
}

.menu ul li .underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transition: .3s ease-out all;
    background-color: #f28e2a;
    transform-origin: bottom right;
    margin-top: 2px;
}

.menu ul li .underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 165px;
    background-color: rgba(0, 0, 0, .5);
    margin-top: 30px;
    border-radius: 15px;
}

.menu-vertical a{
    position: absolute;
    right: 40px;
    margin-bottom: 5px;
}

/* fin de estilos geerales de encabezado y pie de pagina  */


/* --------------------------------------------------- estilos de sistema_general.php ---------------------------------------------- */
.form-data{
    border: none !important;
}

.row .row-paket{
    margin: 20px 0px 0px 35px;
}

.row .row-paket2{
    margin: 20px 0px 0px 35px;
}
.row .row-paket2 .paket{
    width:29.5%;
}
.row .row-paket3{
    margin: 10px 0px 0px 35px;
}

.separador{
    margin: 1rem;
}

.container{
    margin-top: 3rem;
    border: none    ;
    overflow-x: hidden;
}


form h2{
    margin-top: 50px ;
    margin-bottom: 20px;
}

.tb-tableGeneral{
    margin: 10px 0px 0px 35px; 
    font-size: 11px
}

.tb-tableGeneral table {
    padding: 2rem;
}
.camp-input_Code{
    width: 8%;
}

td .camp-input{
    width: 100%;
}

div .container-button button{
    float: right;
    margin-right: 30px;
}

form div .center{
    align-items: center;
}

h1  {
    margin-top: 15px !important;
    margin-left: 40px;
}

form{
    border: none !important;
}

.form-control .disabled:disabled {
    background-color: white;
}
div .add{
    width: 40% ;
}

div .producto{
    margin-top: 30px;
    width: 54% ;
}

div .barrera{
    width: 126%;
}

div .float-eps{
    padding-left: 0;
}

div .form-select{
    height: 58px;
    width: 97%;
}

form .input-group  span{
    background: var(--color-segundarioGrisClaro2);
    color: var(--color-segundarioGrisOscuro);
    border-radius: 12px;
}

form .input-group .amp{
    background: var(--color-segundarioGrisClaro2);
    color: var(--color-segundarioGrisOscuro);
    border-radius: 12px;
}
.accordion .accordion-item .accordion-button:notx(.collapsed){
    background: var(--color-segundarioNaranjaClaro)!important;
}

.accordion .accordion-item .accordion-button:not(.collapsed) {
    color: white;
    background: var(--color-segundarioGrisOscuro);
    border-radius: 10px;
}

.accordion .accordion-item .accordion-button:focus {
    box-shadow: none;
}

/* --------------------------------------------------- fin estilos de sistema_general.php ---------------------------------------------- */



/* --------------------------------------------------- estilos de cliente ------------------------------------------------------- */

form .g-2, .gy-2{
    margin-bottom: 20px;
    margin-top: 20px;
}

.container .button_Crear div a{
    background-color: var(--color-principalNaranja); 
    color:white; 
    float: right
}

/* --------------------------------------------------- cerrar estilos de cliente ------------------------------------------------------- */


/* --------------------------------------------------- estilos de botones ------------------------------------------------------- */
form .container .row .cancelar .cancel a{
    background-color: red; color:white; float: right
}
form .container .row .agregar .agrega button{
    background-color: var(--color-principalNaranja); color:white; float: right
}

/* --------------------------------------------------- cerrar estilos de botones ------------------------------------------------------- */

/* --------------------------------------------------- estilos de crear_cliente ------------------------------------------------------- */

form{
    margin-bottom: 3rem;
}

form .container .div_direccion{
    height: 100px;
    margin-bottom: 3rem;
}

form .container .div_direccion div input{
    height: 100px;
}

form .container .button_cancelarCliente div a{
    background-color: #b70000; 
    color:white; 
    float: right
}

form .container .button_cancelarCliente div button{
    background-color: var(--color-principalNaranja); 
    color:white; 
    float: right
}
  
/* --------------------------------------------------- fin estilos de crear_cliente ------------------------------------------------------- */


/* --------------------------------------------------- estilos de crear_producto ------------------------------------------------------- */

form .container .row .col .row .select{
    margin-bottom: 1rem;
}

form .container .row .col .row .text{
    margin-bottom: 1rem;
}

